html, body {
    height: 90%;
    margin: 0;
}

.bg {
    width: 500px;
    height: 800px;
    background-image: url("../images/santhoshimg/bg-1.jpeg");
    background-size: cover;
    background-position: calc(100% - 0px ) calc(80% - 100px);
    background-repeat: no-repeat;
    margin-left: 30%;
    margin-top: 20px;
}
.txt{
    color: white;
    font-size: 50px;
    margin-left: 22%;
    font-weight: 900;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 35);
    font-family: poppins, sans-serif;
    letter-spacing: 2px;

}
.main{
    display: flex;
    font-size: 37px;
   align-items: center;
   justify-content: center;
    font-weight: 900;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 35);
    font-family: poppins, sans-serif;
    margin-top: -8px;
    color: #fff176;
    background: linear-gradient(#ff7a00,#ff3d00);
    width: 300px;
    margin-left: 19%;

}
.pg{
    display: flex;
    font-size: 30px;
   align-items: center;
   justify-content: center;
    font-weight: 900;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 35);
    font-family: poppins, sans-serif;
    margin-top: -0px;
    color:white;
    background: linear-gradient(#ff7a00,#ff3d00);
    width: 200px;
    height: 50px;
    margin-left: 28%;
}
.tag{
    display: flex;
    font-size: 15px;
   align-items: center;
   justify-content: center;
    font-weight: 900;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 35);
    font-family: poppins, sans-serif;
    margin-top: 20px;
    background: linear-gradient(#ff7a00,#ff3d00);
    width: 500px;
    height: 30px;
    opacity: 0.8;
    margin-left: 0%;
   
}
.join{
    display: flex;
    font-size: 15px;
   align-items: center;
   justify-content: center;
    font-weight: 900;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 35);
    font-family: poppins, sans-serif;
    background: linear-gradient(#ff7a00,#ff3d00);
    width: 150px;
    height: 40px;
    margin-top: 20px;
   margin-left: 170px;
   opacity: 0.7;
   
  
   
}
.int{
    display: flex;
    font-size: 30px;
   align-items: center;
   justify-content: center;
    font-weight: 900;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 35);
    font-family: poppins, sans-serif;
   
    color:white;
    background: linear-gradient(#ff7a00,#ff3d00);
    width: 250px;
    height: 50px;
    margin-left: 25%;
}
